<!-- If you have an external CSS file -->

<body>
  <div class="no-scroll">
    <div class="projects-container">
      <div id="rotate-div" class="chand"></div>

      <p>
        Currently in development. Things I do for fun Music Creation, Live
        Concert, Outdoors Climbing, Card collecting... visualize these things as
        clickable/scrollable interactable playing cards. more coming soon!
      </p>
      <div class="rotate-div-placeholder"></div>

      <script src="{{ '/assets/js/CMRotate.js' | relative_url }}"></script>

      <script type="text/javascript">
        var backgroundImages = [
          "{{ '/assets/img/img1.jpg' | relative_url }}",
          "{{ '/assets/img/img2.jpg' | relative_url }}",
          "{{ '/assets/img/img3.jpg' | relative_url }}",
          "{{ '/assets/img/img4.jpg' | relative_url }}",
          "{{ '/assets/img/img5.jpg' | relative_url }}",
          "{{ '/assets/img/img6.jpg' | relative_url }}",
          "{{ '/assets/img/img7.jpg' | relative_url }}",
          "{{ '/assets/img/img8.jpg' | relative_url }}",
          "{{ '/assets/img/img9.jpg' | relative_url }}",
          "{{ '/assets/img/img10.jpg' | relative_url }}",
          "{{ '/assets/img/img11.jpg' | relative_url }}",
          "{{ '/assets/img/img12.jpg' | relative_url }}",
          "{{ '/assets/img/img13.jpg' | relative_url }}",
          "{{ '/assets/img/img14.jpg' | relative_url }}",
          "{{ '/assets/img/img15.jpg' | relative_url }}",
          "{{ '/assets/img/img16.jpg' | relative_url }}",

          // Continue adding your images
        ];

        function preventDefaultHandler(event) {
          event.preventDefault();
        }

        document
          .getElementById("rotate-div")
          .addEventListener("touchmove", preventDefaultHandler, {
            passive: false,
          });

        function initializeCMRotate() {
          // Default settings
          var settings = {
            containerId: "rotate-div",
            radiusX: 200,
            radiusY: 300,
            radiusZ: 100,
            itemNum: 12,
            animationSpeed: 600,
            images: backgroundImages,
            onClick: function (no) {
              alert("Click number - " + (no + 1));
            },
            scale: 1,
          };

          // Check if the viewport width is 960px or less
          if (window.innerWidth <= 960) {
            // Adjust settings for mobile
            settings.scale = 0.8;
          }

          // Initialize CMRotate with the defined settings
          CMRotate.init(
            settings.containerId,
            settings.radiusX,
            settings.radiusY,
            settings.radiusZ,
            settings.itemNum,
            settings.animationSpeed,
            settings.images,
            settings.onClick,
            settings.scale
          );

          var rotateDiv = document.getElementById("rotate-div");
          rotateDiv.style.visibility = "visible";
        }
        document.addEventListener("DOMContentLoaded", function () {
          window.onload = function () {
            initializeCMRotate(); // Initialize your function after the DOM is fully loaded
          };
        });
      </script>

      <style>
        #rotate-div {
          position: absolute;
          left: 50%;
          transform: translateX(-50%); /* Center horizontally */
          width: 100%; /* Full width of the viewport */
          height: 110%;
          z-index: -1; /* Ensure it's below the nav */
          touch-action: none;

          visibility: hidden; /* Hide until initialized */
        }
        @media (max-width: 960px) {
          #rotate-div {
            top: 20%; /* Lower the position */
          }
          .rotate-div-placeholder {
            height: 650px;
          }
        }
      </style>
    </div>
  </div>
</body>
