{% assign projects = site.data.project.project %} {% assign all_tags = "" %} {%
for proj in site.data.project.project %} {% for tag in proj.tags %} {% unless
all_tags contains tag %} {% assign all_tags = all_tags | append: tag | append:
"," %} {% endunless %} {% endfor %} {% endfor %} {% assign all_tags = all_tags |
split: "," %}

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@5/imagesloaded.pkgd.min.js"></script>

<!-- Include Bootstrap Bundle JS (includes Popper) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

<div class="container py-4">
  <h3 style="font-weight: 500 !important; text-align: center">
    Interesting projects I have done in and out of classes 🧑🏻‍💻
  </h3>
  <div class="tags">
    {% for tag in all_tags %}
    <a class="project-tag filter-tag" href="#" data-tag="{{ tag }}"
      >{{ tag }}</a
    >
    {% endfor %}
    <button
      id="reset-filter"
      style="
        background-color: red;
        color: white;
        border: none;
        padding: 4px 7px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.5rem;
      "
    >
      Reset X
    </button>
  </div>

  <div class="row mt-3 g-3 grid">
    {% for proj in projects %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 grid-item">
      <div
        class="archive-container"
        data-bs-toggle="modal"
        data-bs-target="#modal{{ forloop.index }}"
      >
        <img
          class="archive-img"
          src="{{ proj.image | prepend: '/assets/images/project/' | relative_url }}"
        />
        <div class="archive-container-inner">
          <p class="archive-title">{{ proj.title }}</p>
          <p class="archive-description">{{ proj.description }}</p>
          <div class="tags">
            <p>
              {% for tag in proj.tags %}
              <a class="project-tag" href="#" data-tag="{{ tag }}">{{ tag }}</a>
              {% endfor %}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="modal fade"
      id="modal{{ forloop.index }}"
      tabindex="-1"
      aria-labelledby="exampleModal{{ forloop.index }}"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <div style="display: block !important">
              <h5 class="modal-title" id="exampleModalLabel">
                {{ proj.title }}
              </h5>
              <p class="modal-description">{{ proj.description }}</p>
              <p class="modal-link">
                {% if proj.paper %}<a
                  href="{% if proj.paper contains 'http' %} {{ proj.paper }} {% else %} /assets/pdf/{{ proj.paper }} {% endif %}"
                  ><i class="fas fa-book"></i>&nbsp; Paper</a
                >
                &nbsp;&nbsp;&nbsp; {% endif %}{% if proj.video %}<a
                  href="{{ proj.video }}"
                  ><i class="fas fa-play"></i>&nbsp; Video</a
                >
                &nbsp;&nbsp;&nbsp; {% endif %}{% if proj.slide %}<a
                  href="/assets/pdf/{{ proj.slide }}"
                  ><i class="fas fa-poll-h"></i>&nbsp; Slide</a
                >
                &nbsp;&nbsp;&nbsp; {% endif %}{% if proj.appstore %}<a
                  href="{{ proj.appstore }}"
                  ><i class="fab fa-app-store-ios"></i>&nbsp; App Store</a
                >
                &nbsp;&nbsp;&nbsp; {% endif %}{% if proj.code %}<a
                  href="{{ proj.code }}"
                  ><i class="fab fa-github"></i>&nbsp; Code</a
                >
                &nbsp;&nbsp;&nbsp; {% endif %}{% if proj.link %}<a
                  href="{{ proj.link }}"
                  ><i class="fas fa-external-link"></i>&nbsp; Link</a
                >{% endif %}
              </p>
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            {{ proj.detail | replace: 'site.baseurl', site.baseurl }}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  var grid = document.querySelector(".grid");
  var msnry = new Masonry(grid, {
    percentPosition: true,
    itemSelector: ".grid-item",
  });
  imagesLoaded(grid).on("progress", function () {
    msnry.layout();
  });
</script>

<script type="module">
  import { Toast } from "bootstrap.esm.min.js";

  Array.from(document.querySelectorAll(".toast")).forEach(
    (toastNode) => new Toast(toastNode)
  );
</script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const filterTags = document.querySelectorAll(".filter-tag"); // Select filter tags
    const projects = document.querySelectorAll(".grid-item");
    const grid = document.querySelector(".grid");
    const msnry = new Masonry(grid, {
      itemSelector: ".grid-item",
      percentPosition: true,
    });
    const resetButton = document.getElementById("reset-filter");

    console.log("Filter tags found: ", filterTags.length);
    console.log("Projects found: ", projects.length);

    filterTags.forEach((tag) => {
      tag.addEventListener("click", function (e) {
        e.preventDefault();
        const selectedTag = this.getAttribute("data-tag").trim();
        console.log("Selected tag: ", selectedTag);

        let anyVisible = false;
        projects.forEach((project) => {
          console.log(project.style.display);
          const projectTags = Array.from(
            project.querySelectorAll(".project-tag")
          ).map((el) => el.getAttribute("data-tag").trim());
          if (projectTags.includes(selectedTag)) {
            project.style.display = "block";

            anyVisible = true;
          } else {
            project.style.display = "none";
          }
        });

        console.log("Any project visible after filter? ", anyVisible);

        // Re-layout Masonry after filtering
        setTimeout(() => {
          msnry.layout();
        }, 50); // Delay of 50 ms
        forceRepaint(project);

        // Update visible tags based on the visible projects
        updateVisibleTags();
      });
    });

    resetButton.addEventListener("click", () => {
      projects.forEach((project) => {
        project.style.display = "block";
      });

      // Reset Masonry layout
      msnry.layout();

      // Show all tags
      filterTags.forEach((tag) => (tag.style.display = "inline-block"));
      console.log("Reset applied, all projects and tags should be visible.");
    });

    function updateVisibleTags() {
      const activeTags = new Set();
      document
        .querySelectorAll(".grid-item[style='display: block;'] .project-tag")
        .forEach((tag) => {
          activeTags.add(tag.getAttribute("data-tag").trim());
        });

      console.log("Active tags after filter: ", Array.from(activeTags));

      filterTags.forEach((tag) => {
        tag.style.display = activeTags.has(tag.getAttribute("data-tag").trim())
          ? "inline-block"
          : "none";
      });
    }
  });
</script>

<style></style>
